__pycache__/
*.pyc
*.pyo
*.pyd
*.so
*.egg-info/
.build/
.env
.env.*
.venv/
.DS_Store
.ipynb_checkpoints/
artifacts/
logs/
.mypy_cache/
.pytest_cache/
data/raw/
data/processed/
data/targets/
data/logs/
